
.card{
    width: 12rem;
}
.tamanioContainer{
    width: 24rem;
}
.icono{
    background-image: url(media/iconos.png);
    width: 100%;
    height: 7rem;
    transform: scale(1.3);
    margin-bottom: 1rem;
    border: none;
}

#almacen__gestionar{ background-position: 66% 5% }
#almacen__aniadir{ background-position: 99% 94%}
#usuario__gestionar{ background-position: 66% 63% }
#usuario__aniadir{ background-position: 99% 63% }
#ventas__vender{ background-position: 0% 35% }
#ventas__albaranes{ background-position: 99% 4% }